-let pageTitle = 'Home'
-let siteName = 'Agave Azul'
-let twitterAccount = '@agaveazul'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-let Url =  "http://destiladoraagaveazul.com"
-let urlPage = ''
